@model XtraCoverBBGA.Models.Registration
@{
    ViewBag.Title = "Home Page";
}


<form id="loginForm">
    <a onclick="SignUp()">Register Now</a>
</form>

<div class="modal fade" id="ShowModal" tabindex="-1" aria-hidden="true" aria-labelledby="modal-extra-large">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Registration Form</h4>
                <span class="text-danger" id="msg"></span>
                <div class="block-options">
                    <button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa fa-times"></i>
                    </button>
                </div>

            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Select Device<span class="text-danger">*</span></label>
                                <select class="form-control select1" id="DeviceType">
                                    <option value="-1">--Select--</option>
                                    <option value="Mobile">Mobile</option>
                                    <option value="Laptop">Laptop</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>IMEI/Serial Number <span class="text-danger">*</span></label>
                                @Html.TextBoxFor(m => m.IMEINo, new { @class = "form-control", @required = "required" , autocomplete = "off" })
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> Brand <span class="text-danger">*</span></label>
                                @Html.TextBoxFor(m => m.Brand, new { @class = "form-control", @required = "required", autocomplete = "off" })
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> Name <span class="text-danger">*</span></label>
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @required = "required", autocomplete = "off" })
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> Model  <span class="text-danger">*</span></label>
                                @Html.TextBoxFor(m => m.ModelName, new { @class = "form-control", @required = "required", autocomplete = "off" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> Email ID <span class="text-danger">*</span></label>
                                @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control", @required = "required", autocomplete = "off" })
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> Dealer Code <span class="text-danger">*</span></label>
                                <select class="form-control select1" id="DealerCode">
                                    <option value="-1">--Select--</option>
                                    <option value="D123">D123</option>
                                    <option value="D145">D145</option>
                                    <option value="D155">D155</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> Phone <span class="text-danger">*</span></label>
                                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", @required = "required", autocomplete = "off" })
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> Purchase Price <span class="text-danger">*</span></label>
                                @Html.TextBoxFor(m => m.PurchasePrice, new { @class = "form-control", @required = "required", autocomplete = "off" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> Alternate Phone <span class="text-danger">*</span></label>
                                @Html.TextBoxFor(m => m.AlternatePhone, new { @class = "form-control", autocomplete = "off" })
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> Purchase Date <span class="text-danger">*</span></label>
                                @Html.TextBoxFor(m => m.PurchaseDate, new { @class = "form-control datepicker", @placeholder = "dd/MM/yyyy", @maxLength = "10",@required="required", autocomplete = "off" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> Address Line 1 <span class="text-danger">*</span></label>
                                @Html.TextBoxFor(m => m.AddLine1, new { @class = "form-control", autocomplete = "off" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> Address Line 2 <span class="text-danger">*</span></label>
                                @Html.TextBoxFor(m => m.AddLine2, new { @class = "form-control", autocomplete = "off" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Upload Invoice</label>
                                <input type="file" id="fsUpload" accept=".pdf,.jpg,.jpeg,.gif,.png" />
                                @Html.HiddenFor(m => m.Invoicefile)

                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="checkbox" id="chkterms" />I agree with the
                                <a href="#" target="_blank" class="btn-form" id="fs">
                                    Terms & Conditions
                                </a>

                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="register-btn btn btn-info form-control" type="submit" onclick="SaveForm()">Register Now</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

    
<div class="modal thankyou-model" id="thankYouModal" tabindex="-1" role="dialog" aria-labelledby="modal-extra-large" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content custom-popup-thankyou">
            <div class="block-header block-header-default">

                <div class="block-options custom-close-btn">
                    <button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                <div class="block-content fs-sm">
                    Thank You for Registering With Us!!
                </div>
                <div class="block-content block-content-full block-content-sm text-end ">
                    <button class="register-btn btn-info form-control" type="submit" data-bs-dismiss="modal" onclick="CloseModal()">
                        Back to Home
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>



@section scripts
{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>    
    <script src="~/Scripts/common.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            //loadDeviceType();
            //loadDealerCode();
            $('#ShowModal').modal({ backdrop: 'static', keyboard: false })
            $('#fsUpload').on('change', function () {
                //UploadFile();
            });
        });

        function SignUp() {
            $('#msg').text("");
            $('#ShowModal').modal('show');
        }

        function CloseModal() {
            $('#thankYouModal').modal('hide');
        }

        function SaveForm() {
            var DeviceType = $('#DeviceType option:selected').text();
            var IMEI_No = $('#IMEINo').val();
            var Brand = $('#Brand').val();
            var Name = $('#Name').val();
            var Model = $('#ModelName').val();
            var EmailId = $('#EmailId').val();
            var Dealer_Code = $("#DealerCode option:selected").text();
            var Phone = $('#Phone').val();
            var PurchasePrice = $('#PurchasePrice').val();
            var AlternatePhone = $('#AlternatePhone').val();
            var PurchaseDate = $('#PurchaseDate').val();
            var AddLine1 = $('#AddLine1').val();
            var AddLine2 = $('#AddLine2').val();
            $.ajax({
                url: "/Home/SaveData",
                type: "post",
                data: {
                    'DeviceType': DeviceType, 'IMEINo': IMEI_No, 'Brand': Brand, 'Name': Name, 'Model': Model, 'EmailId': EmailId, 'DealerCode': Dealer_Code, 'Phone': Phone,
                    'PurchasePrice': PurchasePrice, 'AlternatePhone': AlternatePhone, 'PurchaseDate': PurchaseDate, 'AddLine1': AddLine1, 'AddLine2': AddLine2
                },
                success: function (result) {
                    if (result != 0) {
                        UploadFile(result);
                        $('#ShowModal').modal('hide');
                        $('#thankYouModal').modal('show');
                    }
                    else {
                        $('#msg').text("IMEI No. already exists..");
                        $('#IMEINo').focus();
                    }
                }
            });
        }


        function UploadFile(id) {
            console.log("Begin");
            if (window.FormData !== undefined) {

                var fileUpload = $("#fsUpload").get(0);
                var files = fileUpload.files;

                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }

                // Adding one more key to FormData object
                fileData.append('username', id);

                $.ajax({
                    url: '/Home/UploadFiles',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {
                        if (result.includes("Error") > 0) {
                            swal(result);
                        }
                        else {
                            if (result != "" && result != 'No files selected.') {
                                $("#filePath").val(result);
                                $("#fs").html("View File");
                                $("#fs").attr("href", result);
                            }
                        }
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            } else {
                alert("FormData is not supported.");
            }
        }


        $('#ShowModal').on('shown.bs.modal', function () {
            $('.datepicker').datepicker({
                weekStart: 1,
                format: 'dd/mm/yyyy',
                daysOfWeekHighlighted: "6,0",
                autoclose: true,
                todayHighlight: true,
                minDate: 0,
                startDate: new Date(2020, 0, 1),
                endDate: new Date(2100, 0, 1),
            });
        });


    </script>
}